@font-face {
    font-family: "MuseoCyrl";
    src: local("MuseoCyrl-Bold"),
        url("../fonts/MuseoCyrl700.woff") format("woff");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: "MuseoCyrl";
    src: local("MuseoCyrl-Medium"),
        url("../fonts/MuseoCyrl500.woff") format("woff");
    font-weight: 500;
    font-style: regular;
    font-display: swap;
}

@font-face {
    font-family: "MuseoCyrl";
    src: local("MuseoCyrl-Regular"),
        url("../fonts/MuseoCyrl300.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
