.business {
  overflow: hidden;
    .container {
        padding: 0 142px 102px 148px;

      @media (max-width: 1200px) {
        padding: 0 50px 70px 50px;
      }
    }

    .product {
        &__wrapper {
            width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 0 50px 0;
            padding-top: 73px;

            @media (max-width: 1200px) {
              padding-top: 40px;
              margin: 0 0 30px 0;
            }
        }

        &__title {
            font-size: 46px;
            font-weight: 900;
            line-height: 42px;
            margin-bottom: 26px;

            @media (max-width: 1200px) {
              font-size: 42px;
              line-height: 38px;
              margin-bottom: 15px;
            }
        }

        &__description {
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 42px;

            @media (max-width: 1200px) {
              font-size: 24px;
            }
        }

        .industry-slider {
          position: relative;
          margin-bottom: 112px;

          @media (max-width: 1200px) {
            margin-bottom: 50px;
          }

            .slider-list {
                width: 1690px;
                height: 537px;

                .slider-track {
                  height: 100%;
                }

                .slide {
                    border: none;
                    .slide-card {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        align-items: center;
                        width: 400px;
                        border: none;
                        border-radius: 14px;
                        line-height: 0;
                        overflow: hidden;

                        @media (max-width: 1200px) {
                          width: 350px;
                        }
            
                        &__description {
                          width: 100%;
                          height: 100%;
                          text-align: center;
                          background-color: #F5F9FC;
                          padding: 8px 25px 0px 25px;
                        }
        
                        &__name {
                            font-size: 19px;
                            line-height: 30px;
                            font-weight: 700;
                            color: rgba(239, 60, 21, 0.82);
                            margin-bottom: 6px;

                            @media (max-width: 1200px) {
                              font-size: 15px;
                            }
                        }

                        &__name-description {
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 23px;

                            @media (max-width: 1200px) {
                              font-size: 14px;
                              line-height: 19px;
                            }
                        }
                    }
                }
            }

            .slider-arrows {
              position: absolute;
              top: -106px;
              right: -52px;
              display: flex;
              justify-content: space-between;
              width: 131px;
              flex-direction: row;

              .prev {
                display: block;
                width: 40px;
                height: 40px;
                background-image: url("../img/main/industry-slider/arrow-circle.svg");
                background-size: contain;
                background-repeat: no-repeat;
              }

              .next {
                display: block;
                width: 40px;
                height: 40px;
                background-image: url("../img/main/industry-slider/arrow-circle.svg");
                transform: rotate(180deg);
                background-size: contain;
                background-repeat: no-repeat;
              }
            }
        }
    }

    .packing {
      &__wrapper {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 50px 0;
      }

      &__title {
          font-size: 46px;
          font-weight: 900;
          line-height: 42px;
          margin-bottom: 27px;
      }

      &__description {
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 42px;

          @media (max-width: 1200px) {
            font-size: 24px;
          }
      }

      .pack-slider {
        position: relative;
        margin-bottom: 100px;
        margin-bottom: 60px;

        @media (max-width: 1200px) {
          margin-bottom: 50px;
        }

          .slider-list {
              width: 1690px;
              height: 537px;

              .slider-track {
                height: 100%;
              }

              .slide {
                  border: none;
                  .slide-card {
                      display: flex;
                      flex-direction: column;
                      height: 100%;
                      align-items: center;
                      width: 400px;
                      border: none;
                      border-radius: 14px;
                      line-height: 0;
                      overflow: hidden;

                      @media (max-width: 1200px) {
                        width: 350px;
                      }
          
                      &__description {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        background-color: #F5F9FC;
                        padding: 8px 25px 0px 25px;
                      }
      
                      &__name {
                          font-size: 19px;
                          line-height: 30px;
                          font-weight: 700;
                          color: rgba(239, 60, 21, 0.82);
                          margin-bottom: 6px;

                          @media (max-width: 1200px) {
                            font-size: 15px;
                          }
                      }

                      &__name-description {
                          font-weight: 300;
                          font-size: 16px;
                          line-height: 23px;

                          @media (max-width: 1200px) {
                            font-size: 14px;
                            line-height: 19px;
                          }
                      }
                  }
              }
          }

          .slider-arrows {
            position: absolute;
            top: -106px;
            right: -24px;
            display: flex;
            justify-content: space-between;
            width: 130px;
            flex-direction: row;

            .prev {
              display: block;
              width: 40px;
              height: 40px;
              background-image: url("../img/main/industry-slider/arrow-circle.svg");
              background-size: contain;
              background-repeat: no-repeat;
            }

            .next {
              display: block;
              width: 40px;
              height: 40px;
              background-image: url("../img/main/industry-slider/arrow-circle.svg");
              transform: rotate(180deg);
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
      }
    }

    &__showing-link {
      display: block;
      width: 456px;
      padding: 20px 48px;
      border-radius: 32px;
      background: #EF3C15;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $white;
      text-align: center;
      margin: 0 auto;
      transition: all 500ms ease;

      &:hover {
        box-shadow: 0px 4px 24px 0px $red;
        transition: all 500ms ease;
      }

      @media (max-width: 1200px) {
        width: 430px;
        padding: 15px 35px;
        font-size: 21px;
      }
    }
}


@media (max-width: $tablet-width) {
  .business {
    .container {
      padding: 0 1px 1px 42px;
    }

    .product {
        &__wrapper {
            width: 700px;
            margin: 0 0 19px 0;
            padding-top: 46px;
        }

        &__title {
            font-size: 36px;
            font-weight: 900;
            line-height: 42px;
            margin-bottom: 14px;
        }

        &__description {
            font-size: 22px;

            @media(max-width: 670px) {
              font-size: 15px;
            }
        }

        .industry-slider {
          position: relative;
          margin-bottom: 66px;

            .slider-list {
                width: 1690px;
                height: 378px;

                .slider-track {
                  height: 100%;
                }

                .slide {
  
                    border: none;
                    .slide-card {
                        height: 100%;
                        align-items: center;
                        width: 280px;

                        img {
                          width: 100%;
                          height: 294px;
                        }
            
                        &__description {
                          width: 100%;
                          height: 100%;
                          text-align: center;
                          background-color: #F5F9FC;
                          padding: 8px 25px 0px 25px;
                        }
        
                        &__name {
                            font-size: 14px;
                            line-height: 21px;
                            margin-bottom: 6px;
                        }

                        &__name-description {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }

                    &:not(:last-child) {
                      margin-right: 22px;
                    }
                }
            }

            .slider-arrows {
              top: -73px;
              right: 33px;
              width: 110px;

              .prev {
                width: 33px;
                height: 33px;
              }

              .next {
                width: 33px;
                height: 33px;
              }

              @media(max-width: 670px) {
                  width: 107%;
                  top: 169px;
                  right: -6px;
                  margin-top: 0;
                  z-index: 3;
    
                  .prev {
                    display: block;
                    width: 60px;
                    height: 60px;
                    background-image: url("../img/main/business/arrow.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                  }
    
                  .next {
                    display: block;
                    width: 60px;
                    height: 60px;
                    background-image: url("../img/main/business/arrow.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: scale(-1, 1);
                  }
              }
            }
        }
    }

    .packing {
      &__wrapper {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 19px 0;
      }

      &__title {
          font-size: 36px;
          margin-bottom: 14px;
      }

      &__description {
          font-size: 22px;

          @media(max-width: 670px) {
            font-size: 15px;
          }
      }

      .pack-slider {
        position: relative;
        margin-bottom: 100px;
        margin-bottom: 30px;


      .slider-list {
        width: 1690px;
        height: 378px;

        .slider-track {
          height: 100%;
        }

        .slide {

            border: none;
            .slide-card {
                height: 100%;
                align-items: center;
                width: 280px;

                img {
                  width: 100%;
                  height: 294px;
                }

                &__description {
                  width: 100%;
                  height: 100%;
                  text-align: center;
                  background-color: #F5F9FC;
                  padding: 8px 25px 0px 25px;
                }

                &__name {
                  font-size: 14px;
                  line-height: 21px;
                  margin-bottom: 6px;
                }

                &__name-description {
                    font-size: 12px;
                    line-height: 18px;
                }
            }

            &:not(:last-child) {
              margin-right: 22px;
            }
        }
      }

          .slider-arrows {
            top: -73px;
            right: 33px;
            width: 110px;

            .prev {
              width: 33px;
              height: 33px;
            }

            .next {
              width: 33px;
              height: 33px;
            }

            @media(max-width: 670px) {
              width: 107%;
              top: 169px;
              right: -6px;
              margin-top: 0;
              z-index: 3;

              .prev {
                display: block;
                width: 60px;
                height: 60px;
                background-image: url("../img/main/business/arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
              }

              .next {
                display: block;
                width: 60px;
                height: 60px;
                background-image: url("../img/main/business/arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
                transform: scale(-1, 1);
              }
            }
          }
      }
    }

    &__showing-link {
      width: 242px;
      padding: 10px 0;
      font-size: 16px;
      margin-bottom: 40px;
    }
}
}


@media (max-width: $mobile-width) {
  .business {
    .container {
      padding: 0 1px 1px 12px;
    }

    .product {
        &__wrapper {
            width: 700px;
            margin: 0 0 24px 0;
            padding-top: 30px;
        }

        &__title {
            font-size: 30px;
            line-height: 45px;
            margin-bottom: 8px;
        }

        &__description {
            font-size: 12px;
            line-height: 18px;
        }

        .industry-slider {
          position: relative;
          margin-bottom: 102px;

            .slider-list {
                width: 1690px;
                height: 378px;

                .slider-track {
                  height: 100%;
                }

                .slide {
  
                    border: none;
                    .slide-card {
                        height: 100%;
                        align-items: center;
                        width: 280px;

                        img {
                          width: 100%;
                          height: 77%;
                        }
            
                        &__description {
                          width: 100%;
                          height: 100%;
                          text-align: center;
                          background-color: #F5F9FC;
                          padding: 14px 25px 0px 25px;
                        }
        
                        &__name {
                            font-size: 14px;
                            line-height: 21px;
                            margin-bottom: 2px;
                        }

                        &__name-description {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }

                    &:not(:last-child) {
                      margin-right: 22px;
                    }
                }
            }

            .slider-arrows {
              width: 107%;
              top: 169px;
              right: -6px;
              margin-top: 0;
              z-index: 3;

              .prev {
                width: 55px;
                height: 55px;
              }

              .next {
                width: 55px;
                height: 55px;
              }
            }
        }
    }

    .packing {
      &__wrapper {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 24px 0;
      }

      &__title {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 8px;
      }

      &__description {
          font-size: 12px;
          line-height: 18px;
      }

      .pack-slider {
        position: relative;
        margin-bottom: 64px;


      .slider-list {
        width: 1690px;
        height: 378px;

        .slider-track {
          height: 100%;
        }

        .slide {
  
          border: none;
          .slide-card {
              height: 100%;
              align-items: center;
              width: 280px;

              img {
                width: 100%;
                height: 77%;
              }
  
              &__description {
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: #F5F9FC;
                padding: 14px 25px 0px 25px;
              }

              &__name {
                  font-size: 14px;
                  line-height: 21px;
                  margin-bottom: 2px;
              }

              &__name-description {
                  font-size: 12px;
                  line-height: 18px;
              }
          }

          &:not(:last-child) {
            margin-right: 22px;
          }
      }
      }

      .slider-arrows {
        width: 107%;
        top: 169px;
        right: -6px;
        margin-top: 0;
        z-index: 3;

        .prev {
          width: 55px;
          height: 55px;
        }

        .next {
          width: 55px;
          height: 55px;
        }
      }
      }
    }

    &__showing-link {
      width: 242px;
      padding: 10px 0;
      font-size: 16px;
      margin-bottom: 39px;
    }
}
}







/*-------------------------------------------slide-style------------------------------------------------*/

* {
    box-sizing: border-box;
  }
  .pack-slider {
    position: relative;
    user-select: none;
    touch-action: pan-y;
  }

  .slide:not(:last-child) {
    margin-right: 30px;

    @media (max-width: $tablet-width) {
      margin-right: 22px;
    }
  }
  
  
  .pack-slider img {
    poiner-events: none;
  }
  
  .slider-list {
    width: 1690px;
    height: 100%;
    overflow: hidden;
  }
  
  .slider-list.grab {
    cursor: grab;
  }
  
  .slider-list.grabbing{
    cursor: grabbing;
  }
  
  .slider-track {
    display: flex;
  }
    
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
  }
  
  .next,
  .prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .next.disabled,
  .prev.disabled {
    opacity: .25;
    pointer-events: none;
  }