.business {
  overflow: hidden;
    .container {
        padding: 0 55px 102px 148px;

      @media (max-width: 1200px) {
        padding: 0 50px 70px 50px;
      }
    }

    .product {
        &__wrapper {
            width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 0 50px 0;
            padding-top: 73px;

            @media (max-width: 1200px) {
              padding-top: 40px;
              margin: 0 0 30px 0;
            }
        }

        &__title {
            font-size: 46px;
            font-weight: 900;
            line-height: 42px;
            margin-bottom: 26px;

            @media (max-width: 1200px) {
              font-size: 42px;
              line-height: 38px;
              margin-bottom: 15px;
            }
        }

        &__description {
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 42px;

            @media (max-width: 1200px) {
              font-size: 24px;
            }
        }

        

          

        .card {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: center;
          border: 1px solid #F5F9FC;
          border-radius: 14px;
          line-height: 0;

          &__picture {
            display: flex;
            justify-content: center;
            width: 100%;
            background: radial-gradient(116.34% 128.4% at 5.63% 8.95%, rgba(1, 180, 137, 0.56) 0%, rgba(1, 180, 137, 0.68) 33.65%, rgba(209, 243, 254, 0.56) 62.46%, rgba(1, 180, 137, 0.86) 100%);

            img {
              width: auto;
              margin: 0 auto;
            }
          }

          &__description {
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #F5F9FC;
            padding: 8px 25px 0px 25px;
            border-bottom-left-radius: 13px;
            border-bottom-right-radius: 13px;
          }

          &__name {
              font-size: 19px;
              line-height: 30px;
              font-weight: 700;
              color: rgba(239, 60, 21, 0.82);
              margin-bottom: 6px;

              @media (max-width: 1200px) {
                font-size: 15px;
              }
          }

          &__name-description {
              font-weight: 300;
              font-size: 16px;
              line-height: 23px;
              margin-bottom: 18px;

              @media (max-width: 1200px) {
                font-size: 14px;
                line-height: 19px;
              }
          }
        }
        
        
        /* Слайдер */
        .slick-slider{
          position: relative;
        }
       
        .slick-list {
          margin: 0 auto;
        }
        /* Лента слайдов */
        .slick-track{
          display: flex;
          justify-content: flex-start;
        }
        /* Слайд */
        .slick-slide{
          margin-right: 30px;
        }
        
        /* Стрелка */
        .slick-arrow{
          position: absolute;
          top: -106px;
          display: block;
          width: 40px;
          height: 40px;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          background-color: transparent;
          font-size: 0;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }

        /* Стрелка влево */
        .slick-arrow.slick-prev{
          right: 85px;
          background-image: url("../img/main/industry-slider/arrow-circle.svg");
        }

        /* Стрелка вправо */
        .slick-arrow.slick-next{
          right: 0;
          background-image: url("../img/main/industry-slider/arrow-circle.svg");
          transform: rotate(180deg);
        }
        
        .slick-dots li{
          visibility: hidden;
        }
        
    }

    .packing {
      &__wrapper {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 50px 0;
      }

      &__title {
          font-size: 46px;
          font-weight: 900;
          line-height: 42px;
          margin-bottom: 27px;
      }

      &__description {
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 42px;

          @media (max-width: 1200px) {
            font-size: 24px;
          }
      }

      .pack-slider {
        position: relative;
        margin-bottom: 100px;
        margin-bottom: 60px;

        @media (max-width: 1200px) {
          margin-bottom: 50px;
        }

          .slider-list {
              width: 1690px;
              height: 537px;

              .slider-track {
                height: 100%;
              }

              .slide {
                  border: none;
                  .slide-card {
                      display: flex;
                      flex-direction: column;
                      height: 100%;
                      align-items: center;
                      width: 400px;
                      border: none;
                      border-radius: 14px;
                      line-height: 0;
                      overflow: hidden;

                      @media (max-width: 1200px) {
                        width: 350px;
                      }
          
                      &__description {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        background-color: #F5F9FC;
                        padding: 8px 25px 0px 25px;
                      }
      
                      &__name {
                          font-size: 19px;
                          line-height: 30px;
                          font-weight: 700;
                          color: rgba(239, 60, 21, 0.82);
                          margin-bottom: 6px;

                          @media (max-width: 1200px) {
                            font-size: 15px;
                          }
                      }

                      &__name-description {
                          font-weight: 300;
                          font-size: 16px;
                          line-height: 23px;

                          @media (max-width: 1200px) {
                            font-size: 14px;
                            line-height: 19px;
                          }
                      }
                  }
              }
          }

          .slider-arrows {
            position: absolute;
            top: -106px;
            right: -24px;
            display: flex;
            justify-content: space-between;
            width: 130px;
            flex-direction: row;

            .prev {
              display: block;
              width: 40px;
              height: 40px;
              background-image: url("../img/main/industry-slider/arrow-circle.svg");
              background-size: contain;
              background-repeat: no-repeat;
            }

            .next {
              display: block;
              width: 40px;
              height: 40px;
              background-image: url("../img/main/industry-slider/arrow-circle.svg");
              transform: rotate(180deg);
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
      }
    }

    &__showing-link {
      display: block;
      width: 456px;
      padding: 20px 48px;
      border-radius: 32px;
      background: #EF3C15;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $white;
      text-align: center;
      margin: 0 auto;
      transition: all 500ms ease;

      &:hover {
        box-shadow: 0px 4px 24px 0px $red;
        transition: all 500ms ease;
      }

      @media (max-width: 1200px) {
        width: 430px;
        padding: 15px 35px;
        font-size: 21px;
      }
    }
}


@media (max-width: $tablet-width) {
  .business {
    .container {
      padding: 0 1px 1px 42px;
    }

    .product {
        &__wrapper {
            width: 700px;
            margin: 0 0 19px 0;
            padding-top: 46px;
        }

        &__title {
            font-size: 36px;
            font-weight: 900;
            line-height: 42px;
            margin-bottom: 14px;
        }

        &__description {
            font-size: 22px;

            @media(max-width: 670px) {
              font-size: 15px;
            }
        }

        /* Слайдер */
        .slick-slider{
          position: relative;
        }
        /* Слайдер запущен */
        .slick-slider.slick-initialized{}
        /* Слайдер с точками */
        .slick-slider.slick-dotted{}
        /* Ограничивающая оболочка */
        .slick-list {
          overflow: hidden;
          margin: 0 auto;
        }
        /* Лента слайдов */
        .slick-track{
          display: flex;
          justify-content: flex-start;
        }
        /* Слайд */
        .slick-slide{
          margin-right: 30px;
        }
        
        /* Стрелка */
        .slick-arrow{
          position: absolute;
          top: 220px;
          display: block;
          width: 40px;
          height: 40px;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          background-color: transparent;
          font-size: 0;
          cursor: pointer;
          z-index: 3;

          &:hover {
            opacity: 0.7;
          }
        }

        /* Стрелка влево */
        .slick-arrow.slick-prev{
          left: 0;
          background-image: url("../img/main/industry-slider/arrow-circle.svg");
        }

        /* Стрелка вправо */
        .slick-arrow.slick-next{
          right: 0;
          background-image: url("../img/main/industry-slider/arrow-circle.svg");
          transform: rotate(180deg);
        }
        
        /* Точки (булиты) */
        .slick-dots{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 215px;
          margin: 0 auto;
        }

        .slick-dots li{
        }

        /* Активная точка */
        .slick-dots li.slick-active{
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          font-size: 0;
          background-color: $red;
          border: none;
        }

        /* Элемент точки */
        .slick-dots li button{
          display: block;
          width: 16px;
          height: 16px;
          gap: 6px 6px;
          border-radius: 50%;
          font-size: 0;
          background-color: rgba(239, 60, 21, 0.10);
          border: none;
        }
    }

    .packing {
      &__wrapper {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 19px 0;
      }

      &__title {
          font-size: 36px;
          margin-bottom: 14px;
      }

      &__description {
          font-size: 22px;

          @media(max-width: 670px) {
            font-size: 15px;
          }
      }

      .pack-slider {
        position: relative;
        margin-bottom: 100px;
        margin-bottom: 30px;


      .slider-list {
        width: 1690px;
        height: 378px;

        .slider-track {
          height: 100%;
        }

        .slide {

            border: none;
            .slide-card {
                height: 100%;
                align-items: center;
                width: 280px;

                img {
                  width: 100%;
                  height: 294px;
                }

                &__description {
                  width: 100%;
                  height: 100%;
                  text-align: center;
                  background-color: #F5F9FC;
                  padding: 8px 25px 0px 25px;
                }

                &__name {
                  font-size: 14px;
                  line-height: 21px;
                  margin-bottom: 6px;
                }

                &__name-description {
                    font-size: 12px;
                    line-height: 18px;
                }
            }

            &:not(:last-child) {
              margin-right: 22px;
            }
        }
      }

          .slider-arrows {
            top: -73px;
            right: 33px;
            width: 110px;

            .prev {
              width: 33px;
              height: 33px;
            }

            .next {
              width: 33px;
              height: 33px;
            }

            @media(max-width: 670px) {
              width: 107%;
              top: 169px;
              right: -6px;
              margin-top: 0;
              z-index: 3;

              .prev {
                display: block;
                width: 60px;
                height: 60px;
                background-image: url("../img/main/business/arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
              }

              .next {
                display: block;
                width: 60px;
                height: 60px;
                background-image: url("../img/main/business/arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
                transform: scale(-1, 1);
              }
            }
          }
      }
    }

    &__showing-link {
      width: 242px;
      padding: 10px 0;
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
}


@media (max-width: $mobile-width) {
  .business {
    .container {
      padding: 0 1px 1px 12px;
    }

    .product {
        &__wrapper {
            width: 700px;
            margin: 0 0 24px 0;
            padding-top: 30px;
        }

        &__title {
            font-size: 30px;
            line-height: 45px;
            margin-bottom: 8px;
        }

        &__description {
            font-size: 12px;
            line-height: 18px;
        }

        .industry-slider {
          position: relative;
          margin-bottom: 102px;

            .slider-list {
                width: 1690px;
                height: 378px;

                .slider-track {
                  height: 100%;
                }

                .slide {
  
                    border: none;
                    .slide-card {
                        height: 100%;
                        align-items: center;
                        width: 280px;

                        img {
                          width: 100%;
                          height: 77%;
                        }
            
                        &__description {
                          width: 100%;
                          height: 100%;
                          text-align: center;
                          background-color: #F5F9FC;
                          padding: 14px 25px 0px 25px;
                        }
        
                        &__name {
                            font-size: 14px;
                            line-height: 21px;
                            margin-bottom: 2px;
                        }

                        &__name-description {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }

                    &:not(:last-child) {
                      margin-right: 22px;
                    }
                }
            }

            .slider-arrows {
              width: 107%;
              top: 169px;
              right: -6px;
              margin-top: 0;
              z-index: 3;

              .prev {
                width: 55px;
                height: 55px;
              }

              .next {
                width: 55px;
                height: 55px;
              }
            }
        }
    }

    .packing {
      &__wrapper {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 24px 0;
      }

      &__title {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 8px;
      }

      &__description {
          font-size: 12px;
          line-height: 18px;
      }

      .pack-slider {
        position: relative;
        margin-bottom: 64px;


      .slider-list {
        width: 1690px;
        height: 378px;

        .slider-track {
          height: 100%;
        }

        .slide {
  
          border: none;
          .slide-card {
              height: 100%;
              align-items: center;
              width: 280px;

              img {
                width: 100%;
                height: 77%;
              }
  
              &__description {
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: #F5F9FC;
                padding: 14px 25px 0px 25px;
              }

              &__name {
                  font-size: 14px;
                  line-height: 21px;
                  margin-bottom: 2px;
              }

              &__name-description {
                  font-size: 12px;
                  line-height: 18px;
              }
          }

          &:not(:last-child) {
            margin-right: 22px;
          }
      }
      }

      .slider-arrows {
        width: 107%;
        top: 169px;
        right: -6px;
        margin-top: 0;
        z-index: 3;

        .prev {
          width: 55px;
          height: 55px;
        }

        .next {
          width: 55px;
          height: 55px;
        }
      }
      }
    }

    &__showing-link {
      width: 242px;
      padding: 10px 0;
      font-size: 16px;
      margin-bottom: 39px;
    }
}
}