.delivery-and-pay {
    overflow: hidden;
    background-image: url("../img/main/delivery-and-pay/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 148px;

        @media (max-width: 1090px) {
            padding: 0 80px;
        }
    }

    &__wrapper {
        padding: 60px 0 38px 0;
    }

    &__title {
        font-size: 46px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px;
        margin: 64px 0 25px 0;

        @media (max-width: 1090px) {
            font-size: 39px;
            line-height: 50px;
            margin: 50px 0 20px 0;
        }

        @media (max-width: 860px) {
            font-size: 36px;
            line-height: 40px;
        }
    }

    &__description {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 56px;

        @media (max-width: 1090px) {
            font-size: 24px;
            line-height: 21px;
            margin: 0 0 30px 0;
        }

        @media (max-width: 860px) {
            font-size: 21px;
            line-height: 30px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 30px;
        gap: 17px 0;
        margin-bottom: 100px;
    }

    .link {
        padding: 15px 0;
    }

    .item {

        &__item-link {
            display: block;
            color: $white;
            font-size: 32px;
            font-weight: 600;
            line-height: 48px;
            padding-left: 90px;
            border-radius: 40px;
            border: 2px solid $red;
            background: $white;
            color: $red;

            span {
                position: relative;
                &::before {
                    position: absolute;
                    display: block;
                    width: 24px;
                    height: 24px;
                    top: 9px;
                    left: -50px;
                    content: " ";
                    background-image: url("../img/main/delivery-and-pay/+.svg");
                    background-size: contain;
                    background-repeat: no-repeat;

                    @media (max-width: 860px) {
                        width: 20px;
                        height: 20px;
                        top: 6px;
                        left: -28px;
                    }
                }
            }

            @media (max-width: 1090px) {
                font-size: 28px;
                line-height: 32px;
            }

            @media (max-width: 860px) {
                font-size: 24px;
                line-height: 28px;
                padding-left: 40px;
            }
        }

        &__sublist-text-wrapper {
            display: none;
            padding: 16px 49px;
            margin: 0 43px;
            margin-bottom: 7px;
            background-color: $white;

            &.show {
                display: block;
            }
        }

        &__sublist-text-description {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;

            @media (max-width: 1090px) {
                font-size: 21px;
                line-height: 28px;
            }
        }

        &__sublist-list-description {
            list-style: disc;
            padding-left: 30px;
        }

        &__sublist-list-item {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;

            @media (max-width: 860px) {
                font-size: 21px;
                line-height: 28px;
            }
        }

        &__placeholder-input:checked ~ .item__sublist-text-wrapper {
            display: block;
        }

        &__placeholder-input:checked ~ .item__item-link {
            background-color: $red;
            color: $white;

            span {
                position: relative;
                &::before {
                    position: absolute;
                    display: block;
                    width: 24px;
                    height: 24px;
                    top: 18px;
                    left: -50px;
                    content: " ";
                    background-image: url("../img/main/delivery-and-pay/-.svg");
                    background-size: contain;
                    background-repeat: no-repeat;

                    @media (max-width: 860px) {
                        width: 20px;
                        height: 20px;
                        top: 13px;
                        left: -28px;
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet-width) {
    .delivery-and-pay {
        min-height: 10px;
        
        .container {
            width: 100%;
            margin: 0 auto;
            padding: 0 42px;

            @media (max-width: 460px) {
                padding: 0 20px;
            }
        }
    
        &__wrapper {
            padding: 40px 40px 30px 40px;
        }
    
        &__title {
            font-size: 36px;
            line-height: 54px;
            margin-bottom: 12px;
        }
    
        &__description {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 24px;
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 0;
            gap: 2px 0;
            margin-bottom: 40px;
        }
    
        .link {
            padding: 12px 0;
        }
    
        .item {
            &__item-link {
                font-size: 24px;
                line-height: 36px;
                padding-left: 64px;
                margin-bottom: 14px;
                
                @media (max-width: 680px) {
                    padding-left: 37px;
                    font-size: 14px;
                    line-height: 18px;
                }

                span {
                    &::before {
                        position: absolute;
                        display: block;
                        width: 11px;
                        height: 11px;
                        top: 3px;
                        left: -22px;
                    }
                }
            }
    
            &__sublist-text-wrapper {
                display: none;
                width: 100%;
                padding: 3px 0 0 60px;
                margin: 0 auto;
                margin-bottom: 15px;
                background-color: $white;

                @media (max-width: 650px) {
                    padding: 3px 0 0 20px;
                }
    
                &.show {
                    display: block;
                }
            }
    
            &__sublist-text-description {
                font-size: 20px;
                line-height: 30px;

                @media (max-width: 700px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
    
            &__sublist-list-description {
                list-style: disc;
                padding-left: 30px;
            }
    
            &__sublist-list-item {
                font-size: 20px;
                line-height: 30px;

                @media (max-width: 700px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
    
            &__placeholder-input:checked ~ .item__sublist-text-wrapper {
                display: block;
            }

            &__placeholder-input:checked ~ .item__item-link {
    
                span {
                    position: relative;
                    &::before {
                        position: absolute;
                        display: block;
                        width: 11px;
                        height: 11px;
                        top: 7px;
                        left: -22px;
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .delivery-and-pay {
        min-height: 10px;
        
        .container {
            width: 100%;
            padding: 0 12px;
            
        }
    
        &__wrapper {
            width: 360px;
            position: relative;
            margin: 0 auto;
        }
    
        &__title {
            font-size: 30px;
            line-height: 45px;
            margin: 40px 0 8px 0;
        }
    
        &__description {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 24px;
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 0;
            margin-bottom: 20px;
        }
    
        .link {
            padding: 3px 0;
        }
    
        .item {
            &__item-link {
                font-size: 14px;
                line-height: 21px;
                padding-left: 20px;

                span {
                    &::before {
                        left: -14px;
                    }
                }
            }
    
            &__sublist-text-wrapper {
                display: none;
                width: 324px;
                padding: 0 0 0 6px;
                margin: 0 auto 13px;
                margin-bottom: 15px;
                background-color: $white;
    
                &.show {
                    display: block;
                }
            }
    
            &__sublist-text-description {
                font-size: 12px;
                line-height: 18px;
            }
    
            &__sublist-list-description {
                list-style: disc;
                padding-left: 13px;
            }
    
            &__sublist-list-item {
                font-size: 12px;
                line-height: 18px;
            }
    
            &__placeholder-input:checked ~ .item__sublist-text-wrapper {
                display: block;
            }

            &__placeholder-input:checked ~ .item__item-link {
    
                span {
                    &::before {
                        left: -16px;
                    }
                }
            }
        }
    }
}