.header__navigation {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
}

.navigation__logo {
    margin-right: 32px;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 802px;
    margin-right: 76px;
}

.navigation__link {
    display: flex;
    flex-direction: row;
}

.navigation__item a {
    font-size: 18px;
    line-height: 24px;
}

.navigation__whatsapp {
    margin-right: 10px;
}