.mailing {
    overflow: hidden;
    background: linear-gradient(277deg, rgba(239, 60, 21, 0.65) 1.94%, rgba(245, 138, 115, 0.33) 20.49%, rgba(252, 214, 205, 0.84) 76.29%, rgba(239, 60, 21, 0.56) 100%);

    .container {
        margin: 0 40px;
    }
    
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 99px 0 78px 0;
        margin: 0 auto;
    }

    .form {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 932px;
        padding: 40px 100px;
        background-color: $white;
        border-radius: 32px;

        &__wrapper {
            width: 100%;
        }

        &::after {
            position: absolute;
            content: "";
            background-image: url("../img/main/mailing/1.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 328px;
            height: 475px;
            top: -30px;
            right: -470px;
            z-index: 1;
        }

        &__title {
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 60px;
            margin-bottom: 9px;
        }

        &__description {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            margin-bottom: 19px;

            span {
                color: var(--cp-182, rgba(239, 60, 21, 0.82));
            }
        }

        &__info-wrapper {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
        }

        &__user-name {
            width: 50%;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            border: none;
            margin-right: 30px;
            border-bottom: 1px solid #333;
            color: var(#828282);
        }

        &__user-phone {
            width: 50%;
            font-size: 19px;
            font-weight: 400;
            line-height: 33px;
            border: none;
            border-bottom: 1px solid #333;
            color: var(#828282);
        }

        &__checkbox-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 34px;

            input {
                margin-right: 6px;
                outline: 0;
                &:active {
                    outline-offset: 0;
                }
            }
        }

        &__privacy {
            color: #333;
            font-size: 14px;
            font-weight: 600;
            line-height: normal;
        }

        &__privacy-link {
            color: var(--cp-182, rgba(239, 60, 21, 0.82));
            text-decoration: underline;
        }

        &__button {
            display: block;
            width: 402px;
            color: $white;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            padding: 16px 0;
            border: none;
            border-radius: 32px;
            background: #EF3C15;
        }

        &__image {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                background-image: url("../img/main/mailing/2.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: 328px;
                height: 475px;
                top: -342px;
                right: -1560px;
                z-index: 2;
            }
        }
    }
}

@media (max-width: $tablet-width) {
    .mailing {
    
        .container {
            width: 744px;
            margin: 0 auto;

            @media (max-width: 500px) {
                width: 100%;
            }
        }
        
        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 38px 0 78px 0;
        }
    
        .form {
            width: 424px;
            padding: 28px 10px;
            margin: 0 0 0 42px;

            @media (max-width: 500px) {
                width: 100%;
                margin: 0;
            }
    
            &__wrapper {
                width: 100%;
            }
    
            &::after {
                width: 157px;
                height: 258px;
                top: 31px;
                right: -165px;
                z-index: 1;
            }
    
            &__title {
                font-size: 30px;
                line-height: 45px;
                margin-bottom: 2px;
                padding-left: 30px;
            }
    
            &__description {
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 22px;
                padding-left: 20px;
    
                span {
                    color: rgba(239, 60, 21, 0.82);
                }
            }
    
            &__info-wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 9px;
            }
    
            &__user-name {
                width: 100%;
                font-size: 12px;
                font-weight: 400;
                line-height: 23px;
                border: none;
                border-bottom: 1px solid #333;
                color: #828282;
                margin-bottom: 13px;
                padding-left: 31px;
            }
    
            &__user-phone {
                width: 100%;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                border: none;
                border-bottom: 1px solid #333;
                color: var(#828282);
                margin-bottom: 16px;
                padding-left: 30px;
            }
    
            &__checkbox-wrapper {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-bottom: 31px;
                padding-left: 12px;
    
                input {
                    width: 16px;
                    height: 16px;
                    margin-right: 6px;
                    outline: 0;
                    border-radius: 6px;
                    border: 2px solid #333;
                    background-color: $white;
                    
                    &:active {
                        outline-offset: 0;
                    }
                }
            }
    
            &__privacy {
                color: #333;
                font-size: 12px;
                font-weight: 600;
                line-height: normal;
                padding-left: 2px;
            }
    
            &__privacy-link {
                color: var(--cp-182, rgba(239, 60, 21, 0.82));
                text-decoration: underline;
            }
    
            &__button {
                display: block;
                width: 100%;
                color: $white;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                padding: 12px 0;
                border: none;
                border-radius: 32px;
                background: #EF3C15;
            }
    
            &__image {
                position: relative;
    
                &::after {
                    width: 138px;
                    height: 227px;
                    top: -215px;
                    right: -686px;
                    z-index: 2;
                }
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .mailing {
    
        .container {
            width: 100%;
            padding: 0 12px;
        }
    
        &__wrapper {
            width: 360px;
            position: relative;
            margin: 0 auto;
        }
    
        .form {
            width: 424px;
            padding: 23px 10px;
            margin: 30px 0 32px 0;
            border-radius: 20px;
    
            &__wrapper {
                width: 100%;
            }
    
            &::after {
                width: 157px;
                height: 258px;
                top: 31px;
                right: -165px;
                z-index: 1;
            }
    
            &__title {
                font-size: 26px;
                line-height: 39px;
                margin-bottom: 2px;
                padding-left: 15px;
            }
    
            &__description {
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 10px;
                padding-left: 20px;
    
                span {
                    color: rgba(239, 60, 21, 0.82);
                }
            }
    
            &__info-wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 9px;
            }
    
            &__user-name {
                width: 89%;
                font-size: 12px;
                font-weight: 400;
                line-height: 23px;
                margin-bottom: 8px;
                padding-left: 0;
                color: #828282;
            }
    
            &__user-phone {
                width: 89%;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin-bottom: 16px;
                padding-left: 0;
                color: #828282;
            }
    
            &__checkbox-wrapper {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-bottom: 21px;
    
                input {
                    margin-right: 2px;
                    outline: 0;
                    &:active {
                        outline-offset: 0;
                    }
                }
            }
    
            &__privacy {
                color: #333;
                font-size: 10px;
                font-weight: 600;
                line-height: normal;
            }
    
            &__privacy-link {
                color: var(--cp-182, rgba(239, 60, 21, 0.82));
                text-decoration: underline;
            }
    
            &__button {
                display: block;
                width: 100%;
                color: $white;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                padding: 10px 0;
                border: none;
                border-radius: 32px;
                background: #EF3C15;
            }
    
            &__image {
                position: relative;
    
                &::after {
                    width: 138px;
                    height: 227px;
                    top: -215px;
                    right: -686px;
                    z-index: 2;
                }
            }
        }
    }
}