.trading-block {
  overflow: hidden;

  .slick-slider{
    position: relative;
    margin: 0;
  }

  /* Ограничивающая оболочка */
  .slick-list {
      overflow: hidden;
      margin: 0;
  }

  /* Лента слайдов */
  .slick-track{
    display: flex;
  }

  /* Слайд */
  .slick-slide{
      overflow: hidden;
      height: 587px;

      img {
          width: 100%;
          height: 196px;
      }
  }

  /* Стрелка влево */
  .slick-arrow.slick-prev{
      display: block;
      left: 0;
      font-size: 0;
      width: 100px;
      height: 100px;
      background: url('../img/main/trade/arrow.svg') no-repeat;
      background-size: cover;
      border: none;
  }

  /* Стрелка вправо */
  .slick-arrow.slick-next{
      right: 0;
      font-size: 0;
      width: 100px;
      height: 100px;
      background: url('../img/main/trade/arrow.svg') no-repeat;
      color: $white;
      border: none;
      background-size: contain;
      transform: rotate(180deg);
  }

  .slider .slick-arrow {
      position: absolute;
      top: 244px;
      z-index: 10;
  }

  .slider {
      position: relative;
  }
  
  /*----------------slide-1------------------*/

  .slider-item-1 {
    width: 100%;
    height: 100%;
    padding: 0 148px;
    background-color: #F75241;

    @media (max-width: 1075px) {
      padding: 0 80px;
    }

    &__description-wrapper {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        background-image: url("../img/main/Package.png");
        background-size: contain;
        background-repeat: no-repeat;
        top: 87px;
        right: -135px;
        width: 702px;
        height: 492px;

        @media (max-width: 1675px) {
          top: 185px;
          right: -105px;
          height: 385px;
        }

        @media (max-width: 1550px) {
          top: 110px;
          right: -185px;
          height: 385px;
        }

        @media (max-width: 1450px) {
          top: 150px;
          right: -100px;
          height: 349px;
          width: 520px;
          z-index: -1;
        }

        @media (max-width: 1050px) {
          top: 185px;
          right: -120px;
          height: 302px;
        }
      }
    }

    &__description-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 81px 0 134px 0;
      z-index: 3;
    }

    &__title {
      width: 1145px;
      font-size: 80px;
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      text-transform: uppercase;
      color: #FFF;
      margin-bottom: 26px;

      @media (max-width: 1550px) {
        width: 800px;
        font-size: 60px;
      }

      @media (max-width: 1280px) {
        line-height: 110%;
      }

      @media (max-width: 1075px) {
        font-size: 55px;
        line-height: 100%;
      }

      @media (max-width: 900px) {
        width: 623px;
        font-size: 44px;
        line-height: normal;
        margin-bottom: 45px;
      }
    }

    &__description {
        width: 824px;
        color: #611B14;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0 0 45px 0;

        @media (max-width: 1550px) {
          max-width: 700px;
          font-size: 24px;
        }

        @media (max-width: 1280px) {
          width: 360px;
          font-size: 21px;
          line-height: 27px;
        }

        @media (max-width: 1075px) {
          font-size: 23px;
          line-height: 110%;
          max-width: 440px;
          margin-bottom: 135px;
        }

        @media (max-width: 900px) {
          color: $white;
        }
    }

    &__button-wrapper {
        width: 674px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1550px) {
          width: 425px;
        }
    }

    &__stock-button {
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $white;
        background-color: transparent;
        padding: 11px 37px;
        border-radius: 32px;
        border: 3px solid #FFF;
        cursor: pointer;

        @media (max-width: 1550px) {
          padding: 9px 17px;
          font-size: 18px;
        }
    }

    &__contact-button {
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #F75241;
        background-color: $white;
        padding: 11px 45px;
        border-radius: 32px;
        border: 3px solid $white;

        @media (max-width: 1550px) {
          padding: 9px 17px;
          font-size: 18px;
        }
    }
  }

  /*----------------slide-2------------------*/

  .slider-item-2 {
    width: 100%;
    height: 100%;
    padding: 0 148px;
    background-image: url("../img/main/slide-2.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1250px) {
      padding: 0 80px;
    }

    &__description-wrapper {
      padding: 158px 0 149px 0;
    }

    &__title {
      width: 1430px;
      font-size: 80px;
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 54px;

      br {
        display: none;
      }

      @media (max-width: 1430px) {
        font-size: 70px;
      }

      @media (max-width: 1200px) {
        font-size: 65px;
        line-height: 110%;
      }

      @media (max-width: 1050px) {
        max-width: 760px;
        font-size: 44px;
        line-height: 100%;
        margin-bottom: 100px;
      }
    }

    &__stock-button {
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $white;
      background-color: transparent;
      padding: 14px 40px;
      border-radius: 32px;
      border: 3px solid #FFF;
      cursor: pointer;

      @media (max-width: 1050px) {
        font-size: 26px;
        padding: 11px 20px;
      }
    }
  }

}


@media (max-width: $tablet-width) {
  .trading-block {

    .slick-slider{
      position: relative;
      margin: 0;
    }
  
    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
        margin: 0;
    }
  
    /* Лента слайдов */
    .slick-track{
      display: flex;
    }
  
    /* Слайд */
    .slick-slide{
        overflow: hidden;
        height: 433px;
  
        img {
            width: 100%;
            height: 196px;
        }
    }
  
    /* Стрелка влево */
    .slick-arrow.slick-prev{
        left: -12px;
    }
  
    /* Стрелка вправо */
    .slick-arrow.slick-next{
        right: -12px;
    }
  
    .slider .slick-arrow {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 187px;
        z-index: 10;
    }
  
    .slider {
        position: relative;
    }
  
    .slider-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    
    .tarde-slider {
      display: flex;
      height: 433px;
      transition: transform 0.5s ease-in-out;
    }
    
    .prev-button,
    .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      font-size: 24px;
      color: white;
    }
    
    .prev-button {
      left: -19px;
      top: 211px;
      svg {
        background-size: contain;
        width: 60px;
        height: 60px;
      }
      
    }
    
    .next-button {
      right: 2px;
      top: 211px;
      svg {
        background-size: contain;
        width: 60px;
        height: 60px;
      }
    }
  
    /*----------------slide-1------------------*/
  
    .slider-item-1 {
      width: 100%;
      height: 100%;
      padding: 0 43px;
      background-color: #F75241;
      mix-blend-mode: lighten;
  
      &__wrapper {
        max-width: 660px;
      }
  
        &__description-wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 660px;
          padding: 38px 0 0 0;

          @media (max-width: 700px) {
            width: 100%;
          }
  
          &::after {
              position: absolute;
              content: "";
              background-image: url("../img/main/Package.png");
              background-size: contain;
              background-repeat: no-repeat;
              top: 149px;
              right: -12px;
              width: 380px;
              height: 260px;


              @media (max-width: 660px) {
                width: 362px;
                height: 254px;
                top: 120px;
                right: -15px;
                opacity: 0.8;
              }
          }
        }
  
        &__title {
          width: 630px;
          font-size: 44px;
          font-style: normal;
          font-weight: 900;
          line-height: 120%;
          margin-bottom: 29px;

          @media (max-width: 700px) {
            width: 485px;
            font-size: 34px;
            line-height: 115%;
          }

          @media (max-width: 600px) {
            width: 320px;
            font-size: 30px;
            line-height: 110%;
            margin-bottom: 4px;
          }
        }
  
        &__description {
            width: 300px;
            font-size: 16px;
            line-height: 24px;
            margin: 0 0 70px 0;
            color: $white;

            @media (max-width: 600px) {
              margin: 0 0 90px 0;
            }
        }
  
        &__button-wrapper {
            width: 206px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
  
        &__stock-button {
            font-size: 16px;
            line-height: 15px;
            padding: 10px 0;
            margin-bottom: 12px;
        }
  
        &__contact-button {
            font-size: 16px;
            line-height: 15px;
            padding: 10px 0;
            text-align: center;
        }
    }
  
    /*----------------slide-2------------------*/
  
    .slider-item-2 {
      width: 100%;
      height: 100%;
      padding: 0 43px;
  
      &__description-wrapper {
        padding: 83px 0 131px 0;
      }
  
      &__title {
        width: 100%;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 54px;

        br {
          display: none;
        }

        @media (max-width: 700px) {
          font-size: 30px;
          line-height: 115%;
          margin-bottom: 140px;
        }

        @media (max-width: 520px) {
          br {
            display: inline-block;
          }
        }
      }
  
      &__stock-button {
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $white;
        background-color: transparent;
        padding: 14px 40px;
        border-radius: 32px;
        border: 3px solid #FFF;
        cursor: pointer;

        @media (max-width: 700px) {
          font-size: 24px;
          padding: 10px 30px;
        }
      }
    }
  
  }
}

@media (max-width: $mobile-width) {
  .trading-block {
  
    &__wrapper {
        width: 360px;
    }

    .slick-slider{
      position: relative;
      margin: 0;
    }
  
    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
        margin: 0;
    }
  
    /* Лента слайдов */
    .slick-track{
      display: flex;
    }
  
    /* Слайд */
    .slick-slide{
        overflow: hidden;
        height: 472px;
  
        img {
            width: 100%;
            height: 196px;
        }
    }
  
    /* Стрелка влево */
    .slick-arrow.slick-prev{
        left: 0;
    }
  
    /* Стрелка вправо */
    .slick-arrow.slick-next{
        right: 0;
    }
  
    .slider .slick-arrow {
        position: absolute;
        width: 37px;
        height: 37px;
        top: 200px;
        z-index: 10;
    }
  
    .slider-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
     
    /*----------------slide-1------------------*/
  
    .slider-item-1 {
      width: 100%;
      height: 100%;
      padding: 0 12px;
      background-color: #F75241;
      mix-blend-mode: lighten;
  
      &__wrapper {
        max-width: 660px;
      }
  
        &__description-wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0;
  
          &::after {
              top: 161px;
              right: 26px;
              width: 273px;
              height: 179px;
              opacity: 1;
          }
        }
  
        &__title {
          width: 100%;
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 8px;
        }
  
        &__description {
            width: 90%;
            font-size: 14px;
            line-height: 21px;
            margin: 0 0 184px 0;
            color: #611B14;
        }
  
        &__button-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
  
        &__stock-button {
            font-size: 16px;
            line-height: 15px;
            padding: 10px 0;
            margin-bottom: 12px;
        }
  
        &__contact-button {
            font-size: 16px;
            line-height: 15px;
            padding: 10px 0;
            text-align: center;
        }
    }
  
    /*----------------slide-2------------------*/
  
    .slider-item-2 {
      padding: 0 43px;
  
      &__description-wrapper {
        padding: 134px 0 0 0;
      }
  
      &__title {
        width: 100%;
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 54px;
      }
  
      &__stock-button {
        font-size: 16px;
        font-style: normal;
        padding: 10px 24px;
      }
    }
  
  }
}
