.trading-block {
  overflow: hidden;

  .container {
      width: 100%;
  }

  &__wrapper {
      width: 1624px;
      margin: 0 auto;
  }

  

  /*-------------------slider-------------------*/

  .slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .slider-item {
    margin: 0 auto;
  }
  
  .tarde-slider {
    display: flex;
    height: 587px;
    transition: transform 0.5s ease-in-out;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
  }
  
  .prev-button {
    left: -5px;
    top: 268px;
  }
  
  .next-button {
    right: 39px;
    top: 268px;
  }

  /*----------------slide-1------------------*/

  .slider-item-1 {
    width: 100%;
    height: 100%;
    padding: 0 148px;
    background-color: #F75241;
    //background: url("../img/main/burnt.png"), #F75241 0px -293.078px / 100% 218.085% no-repeat;
    mix-blend-mode: lighten;

    @media (max-width: 900px) {
      padding: 0 80px;
    }

    &__wrapper {
      max-width: 1624px;
      margin: 0 auto;
    }

      &__description-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1185px;
        padding: 81px 0 0 0;
        z-index: 3;

        @media (max-width: 1050px) {
          padding: 65px 0 0 0;
        }

        &::after {
            position: absolute;
            content: "";
            background-image: url("../img/main/Package.png");
            background-size: contain;
            top: 87px;
            right: -543px;
            width: 702px;
            height: 500px;
            z-index: -1;

            @media (max-width: 1050px) {
              top: 50px;
              right: -350px;
              width: 615px;
              height: 393px;
            }
        }
      }

      &__title {
        font-size: 80px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        color: #FFF;
        margin-bottom: 26px;

        @media (max-width: 1430px) {
          font-size: 70px;
        }

        @media (max-width: 1200px) {
          font-size: 65px;
          line-height: 110%;
        }

        @media (max-width: 1050px) {
          font-size: 55px;
          line-height: 100%;
        }
      }

      &__description {
          width: 824px;
          color: #611B14;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin: 0 0 45px 0;

          @media (max-width: 1050px) {
            font-size: 23px;
            line-height: 110%;
            max-width: 440px;
            margin-bottom: 75px;
          }
      }

      &__button-wrapper {
          width: 674px;
          display: flex;
          justify-content: space-between;

          @media (max-width: 1050px) {
            width: 570px;
          }
      }

      &__stock-button {
          font-size: 26px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          color: $white;
          background-color: transparent;
          padding: 11px 37px;
          border-radius: 32px;
          border: 3px solid #FFF;
          cursor: pointer;

          @media (max-width: 1050px) {
            font-size: 26px;
            padding: 11px 20px;
          }
      }

      &__contact-button {
          font-size: 26px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          color: #F75241;
          background-color: $white;
          padding: 11px 45px;
          border-radius: 32px;
          border: 3px solid $white;

          @media (max-width: 1050px) {
            font-size: 26px;
            padding: 11px 20px;
          }
      }
  }

  /*----------------slide-2------------------*/

  .slider-item-2 {
    width: 1920px;
    height: 100%;
    padding: 0 148px;
    background-image: url("../img/main/slide-2.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1250px) {
      padding: 0 80px;
    }

    &__description-wrapper {
      padding: 158px 0 131px 0;
    }

    &__title {
      width: 1430px;
      font-size: 80px;
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 54px;

      @media (max-width: 1430px) {
        font-size: 70px;
      }

      @media (max-width: 1200px) {
        font-size: 65px;
        line-height: 110%;
      }

      @media (max-width: 1050px) {
        max-width: 760px;
        font-size: 44px;
        line-height: 100%;
      }
    }

    &__stock-button {
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $white;
      background-color: transparent;
      padding: 14px 40px;
      border-radius: 32px;
      border: 3px solid #FFF;
      cursor: pointer;

      @media (max-width: 1050px) {
        font-size: 26px;
        padding: 11px 20px;
      }
  }
  }

}


@media (max-width: $tablet-width) {
  .trading-block {

    .container {
        width: 100%;
    }
  
    &__wrapper {
        width: 744px;
        margin: 0 auto;
    }
  
    .slider-container {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
    }
  
    .slider-item {
      margin: 0 auto;
    }
    
    .tarde-slider {
      display: flex;
      height: 433px;
      transition: transform 0.5s ease-in-out;
    }
    
    .prev-button,
    .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      font-size: 24px;
      color: white;
    }
    
    .prev-button {
      left: -19px;
      top: 211px;
      svg {
        background-size: contain;
        width: 60px;
        height: 60px;
      }
      
    }
    
    .next-button {
      right: 2px;
      top: 211px;
      svg {
        background-size: contain;
        width: 60px;
        height: 60px;
      }
    }
  
    /*----------------slide-1------------------*/
  
    .slider-item-1 {
      width: 100%;
      height: 100%;
      padding: 0 43px;
      background-color: #F75241;
      mix-blend-mode: lighten;

      @media (max-width: 600px) {
        padding: 0 20px;
      }
  
      &__wrapper {
        max-width: 660px;
        margin: 0 auto;
      }
  
        &__description-wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 660px;
          padding: 38px 0 0 0;

          @media (max-width: 700px) {
            width: 100%;
          }
  
          &::after {
              position: absolute;
              content: "";
              background-image: url("../img/main/Package.png");
              background-size: contain;
              background-repeat: no-repeat;
              top: 149px;
              right: -12px;
              width: 380px;
              height: 260px;

              @media (max-width: 700px) {
                width: 267px;
                height: 187px;
              }
          }
        }
  
        &__title {
          font-size: 44px;
          font-style: normal;
          font-weight: 900;
          line-height: 120%;
          text-transform: uppercase;
          color: #FFF;
          margin-bottom: 29px;

          @media (max-width: 700px) {
            font-size: 40px;
            line-height: 115%;
          }

          @media (max-width: 600px) {
            font-size: 30px;
            line-height: 110%;
            margin-bottom: 4px;
          }
        }
  
        &__description {
            width: 280px;
            font-size: 16px;
            margin: 0 0 29px 0;

            @media (max-width: 600px) {
              margin: 0 0 140px 0;
              color: $white;
            }
        }
  
        &__button-wrapper {
            width: 206px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 600px) {
              width: 100%;
            }
        }
  
        &__stock-button {
            font-size: 16px;
            line-height: 15px;
            padding: 10px 0;
            margin-bottom: 12px;
        }
  
        &__contact-button {
            font-size: 16px;
            line-height: 15px;
            padding: 10px 0;
            text-align: center;
        }
    }
  
    /*----------------slide-2------------------*/
  
    .slider-item-2 {
      width: 100%;
      height: 100%;
      padding: 0 43px;
  
      &__description-wrapper {
        padding: 83px 0 131px 0;
      }
  
      &__title {
        width: 100%;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 54px;

        @media (max-width: 700px) {
          font-size: 30px;
          line-height: 115%;
          margin-bottom: 140px;
        }
      }
  
      &__stock-button {
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $white;
        background-color: transparent;
        padding: 14px 40px;
        border-radius: 32px;
        border: 3px solid #FFF;
        cursor: pointer;

        @media (max-width: 700px) {
          font-size: 24px;
          padding: 10px 30px;
        }
      }
    }
  
  }
}

@media (max-width: $mobile-width) {
  .trading-block {

    .container {
        width: 100%;
    }
  
    &__wrapper {
        width: 360px;
        margin: 0 auto;
    }
  
    .slider-container {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
    }
  
    .slider-item {
      margin: 0 auto;
    }
    
    .tarde-slider {
      display: flex;
      height: 472px;
      transition: transform 0.5s ease-in-out;
    }
    
    .prev-button,
    .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      font-size: 24px;
      color: white;
    }
    
    .prev-button {
      left: -19px;
      top: 211px;
      svg {
        background-size: contain;
        width: 60px;
        height: 60px;
      }
      
    }
    
    .next-button {
      right: 2px;
      top: 211px;
      svg {
        background-size: contain;
        width: 60px;
        height: 60px;
      }
    }
  
    /*----------------slide-1------------------*/
  
    .slider-item-1 {
      width: 100%;
      height: 100%;
      padding: 0 12px;
      background-color: #F75241;
      mix-blend-mode: lighten;
  
      &__wrapper {
        max-width: 660px;
        margin: 0 auto;
      }
  
        &__description-wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0;
  
          &::after {
              top: 161px;
              right: 26px;
              width: 273px;
              height: 179px;
          }
        }
  
        &__title {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 8px;
        }
  
        &__description {
            width: 90%;
            font-size: 14px;
            line-height: 21px;
            margin: 0 0 184px 0;
            color: #611B14;
        }
  
        &__button-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
  
        &__stock-button {
            font-size: 16px;
            line-height: 15px;
            padding: 10px 0;
            margin-bottom: 12px;
        }
  
        &__contact-button {
            font-size: 16px;
            line-height: 15px;
            padding: 10px 0;
            text-align: center;
        }
    }
  
    /*----------------slide-2------------------*/
  
    .slider-item-2 {
      width: 100%;
      height: 100%;
      padding: 0 43px;
  
      &__description-wrapper {
        padding: 83px 0 131px 0;
      }
  
      &__title {
        width: 100%;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 54px;
      }
  
      &__stock-button {
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $white;
        background-color: transparent;
        padding: 14px 40px;
        border-radius: 32px;
        border: 3px solid #FFF;
        cursor: pointer;
      }
    }
  
  }
}